
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listele</title>
</head>
<body>
@RenderBody()
@await RenderSectionAsync("scripts")
</body>
</html>
