
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="container-scroller">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("ToDoList", "TableByDay", FormMethod.Post))
                            {
                                <h4 class="card-title">Plan tarihi seç</h4>
                               
                                
                                <div class="form-group">
                                    <label>Tarih Belirle</label>
                                    <input class="form-group" type="date" name="datee"/>

                                </div>
                                <button type="submit" class="btn btn-gradient-danger mr-2">Göster</button>
                            }
                        </div>
                        
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

