@using EntityLayer.Concrete
@model List<Plan>
@{
    ViewData["Title"] = "ToDoList";
    Layout = "~/Views/Shared/UserLayout.cshtml";
    
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("ToDoList", "TableByDay", FormMethod.Post))
        {
            <h4 class="card-title">Plan tarihi seç</h4>
                               
                                
            <div class="form-group">
                <label>Tarih Belirle</label>
                <input class="form-group" type="date" name="datee"/>

            </div>
            <button type="submit" class="btn btn-gradient-danger mr-2">Göster</button>
        }
    </div>
    <div class="card-body">
        <h4 class="card-title">@ViewBag.dayName Günü Plan Listesi</h4>
     
        <table class="table table-dark">
            <thead>
            <tr>
                <th> Plan Saati </th>
                <th> Plan Başlığı </th>
                <th> Plan Detayı </th>
                <th> Düzenle </th>
                <th> Sil </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PlanDay.TimeOfDay </td>
                    <td> @item.PlanTitle </td>
                    <td> @item.PlanContent </td>
                    <td> <a href="/TableByDay/EditPlan/@item.PlanID" class="btn btn-outline-warning btn-fw">Düzenle</a> </td>
                    <td> <a href="/TableByDay/DeletePlan/@item.PlanID" class="btn btn-outline-danger btn-fw">Sil</a> </td>
                    

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
